<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>hibernate-servlet</display-name>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  
  <servlet>
  <servlet-name>integrationServlet</servlet-name>
  <servlet-class>com.xworkz.integration.IntegrationServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  <servlet-name>contactServlet</servlet-name>
  <servlet-class>com.xworkz.integration.server.ContactServlet</servlet-class>
  <load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>contactServlet</servlet-name>
  <url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>findByNameServlet</servlet-name>
  <servlet-class>com.xworkz.integration.server.FindByNameServlet</servlet-class>
  <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>findByNameServlet</servlet-name>
  <url-pattern>/searchByName</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>findByEmailServlet</servlet-name>
  <servlet-class>com.xworkz.integration.server.FindByEmailServlet</servlet-class>
  <load-on-startup>4</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>findByEmailServlet</servlet-name>
  <url-pattern>/searchByEmail</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>displayAllServlet</servlet-name>
  <servlet-class>com.xworkz.integration.server.DisplayAllServlet</servlet-class>
  <load-on-startup>5</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>displayAllServlet</servlet-name>
  <url-pattern>/displayAll</url-pattern>
  </servlet-mapping>
</web-app>